.hub, .topic, .proposal {
    cursor: pointer;
}
line.link {
    fill: none;
    stroke: #ddd; /*#9ecae1;*/
    stroke-width: 1.5px;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
    font: 14px sans-serif;
}
.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis path{
    fill: none;
    stroke: none;
}
.bar {
    fill: steelblue;
}
.label {
    text-anchor: middle;
    font-size: .6em;
}
.box {
    width: 945px;
    margin-left: 10px;
    /*background-color: #F8F8FF;*/
    border-radius: 6px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.text {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
}
.play {
    font-weight: bold;
    vertical-align: middle;
}
.block .play {
    display: inline-block;
    width: 42px;
    text-align: right;
    padding-right: 7px;
}
.block input {
    display: inline-block;
    width: 895px;
    vertical-align: middle;
}
.fa-pause {
    color: darkred;
}