<!DOCTYPE html>
<html ng-app="spokenvote">

<head>
    <meta charset="utf-8" />
    <title>Vote Forking in Spokenvote</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="fire.css"/>

    <script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->
    <script data-require="d3@*" data-semver="3.4.6" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.6/d3.min.js"></script>
    <script data-require="angular.js@*" data-semver="1.2.9" src="http://code.angularjs.org/1.2.9/angular.js"></script>
    <script data-require="angular-resource@*" data-semver="1.2.9" src="http://code.angularjs.org/1.2.9/angular-resource.js"></script>
    <script data-require="lodash.js@*" data-semver="2.4.1" src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
    <script data-require="ui-bootstrap@*" data-semver="0.10.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
    <script src="README.controller.js"></script>  <!-- README prefix hides files on Bl.ocks.org  -->
    <script src="README.directive.js"></script>
    <script src="README.services.js"></script>

</head>

<body>
<!--<body class="well">-->
<div ng-controller="FireCtrl">
    <div style="width: 85%;">
        <div style="width: 960px;">
            <force-chart options='options' hovered='hovered(args)' ></force-chart>
            <div class="form block" >
                <a href='#' class="play" ng-click='play()' tooltip-placement='right' tooltip='Click to start and stop the conversation, or use the slider to scrub the timeline.'>
                    <i class="fa {{ options.headLabel }} fa-lg"></i>
                </a>
                <input type="range" ng-model="options.currentNode" min='0' max='78' >
            </div>
            <div class="box">
                <h4 class='text' ng-show='hover'> {{ hover }}</h4>
                <h4 class='text' ng-show='message' ng-bind-html='message' ></h4>
            </div>
        </div>
    </div>
</div>
</body>

</html>
